/* ===========================
   Attachment Upload
=========================== */

.attachment-section{

    margin-top:10px;

}

.attachment-title{

    display:block;

    font-size:15px;

    font-weight:600;

    color:#374151;

    margin-bottom:12px;

}

/* Upload Box */

.upload-box{

    border:2px dashed #d1d5db;

    border-radius:18px;

    background:#fafafa;

    padding:5px 25px;

    text-align:center;

    cursor:pointer;

    transition:.3s;

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:10px;

}

.upload-box:hover{

    border-color:#2563eb;

    background:#f4f8ff;

}

.upload-icon{

    color:#2563eb;

}

.upload-box h3{

    margin:0;

    color:#111827;

    font-size:20px;

    font-weight:700;

}

.upload-box p{

    margin:0;

    color:#6b7280;

    font-size:15px;

}

.upload-box span{

    color:#374151;

    font-weight:600;

    font-size:14px;

}

.upload-box small{

    color:#9ca3af;

}

/* Uploaded Files */

.attachment-list{

    margin-top:20px;

    display:flex;

    flex-direction:column;

    gap:14px;

}

.attachment-card{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:white;

    border:1px solid #e5e7eb;

    border-radius:14px;

    padding:14px 18px;

    transition:.3s;

}

.attachment-card:hover{

    border-color:#2563eb;

    box-shadow:0 6px 18px rgba(37,99,235,.08);

}

.attachment-info{

    display:flex;

    align-items:center;

    gap:15px;

}

.attachment-file-icon.image{

    color:#16a34a;

}

.attachment-file-icon.pdf{

    color:#dc2626;

}

.attachment-info h5{

    margin:0;

    font-size:15px;

    color:#111827;

}

.attachment-info p{

    margin-top:4px;

    font-size:13px;

    color:#6b7280;

}

.remove-file-btn{

    width:38px;

    height:38px;

    border:none;

    border-radius:50%;

    background:#fee2e2;

    color:#dc2626;

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    transition:.3s;

}

.remove-file-btn:hover{

    background:#dc2626;

    color:white;

}

/* Responsive */

@media(max-width:768px){

.upload-box{

padding:30px 20px;

}

.upload-box h3{

font-size:18px;

}

.attachment-card{

flex-direction:column;

align-items:flex-start;

gap:15px;

}

.remove-file-btn{

align-self:flex-end;

}

}